[access]
	inheritFrom = All-Projects
[submit]
	mergeContent = true
	matchAuthorToCommitterDate = false
	rejectEmptyCommit = false
[project]
	description = test repo to connect it with gerrit.github.io and create ci with triggers and reports
	state = hidden
[access "refs/*"]
	owner = group user/Daria Bohatchuk (Bohatchuk)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Daria Bohatchuk (Bohatchuk)
	label-Verified = -1..+1 group user/Daria Bohatchuk (Bohatchuk)
	push = group user/Daria Bohatchuk (Bohatchuk)
	read = group user/Daria Bohatchuk (Bohatchuk)
	rebase = group user/Daria Bohatchuk (Bohatchuk)
	removeReviewer = group user/Daria Bohatchuk (Bohatchuk)
	submit = group user/Daria Bohatchuk (Bohatchuk)
[access "refs/heads/*"]
	create = group user/Daria Bohatchuk (Bohatchuk)
	push = +force group user/Daria Bohatchuk (Bohatchuk)
	pushMerge = group user/Daria Bohatchuk (Bohatchuk)
	read = group user/Daria Bohatchuk (Bohatchuk)
[access "refs/tags/*"]
	push = group user/Daria Bohatchuk (Bohatchuk)
	push = +force group user/Daria Bohatchuk (Bohatchuk)
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = false
	requireChangeId = false
	createNewChangeForAllNotInTarget = true
	rejectImplicitMerges = false
[change]
	privateByDefault = false
	workInProgressByDefault = false
[reviewer]
	enableByEmail = false
